div#menu 
{
	width: 100px;
	margin: 0px;
	padding: 20px;
	position: relative;
	left: 15rem;
}

div#menu ul
{
	padding: 0;
	width: 100px;
	border: 1px solid;
	margin: 0px;

}

div#menu ul li 
{
	position:relative;
	list-style: none;
	border-bottom: 1px solid;
}
div#menu ul ul
{
	position: absolute;
	top: 0;
	left: 100px
}
div#menu li a
{
text-decoration: none;
padding: 4px 0 3px 8px;
display: block;
width: 84px;
border left: 8x solid rgb(153,250,50);
}
div#menu ul ul
{
position: absolute;
top: 0;
left: 100px;
display: none;
}
div#menu ul.lvl1 li.sousmenu:hover ul.lvl2,
div#menu ul.lvl2 li.sousmenu:hover ul.lvl3
{display:block;}
div#menu a {color: #000000}

div#menu li :hover
{
	background: #EDD;
}
div#menu li.sousmenu:hover
{
	border-left-color: rgb(153,150,50);
}
div#menu li a {
	text-decoration: none;
	padding: 4px 0 4 px 8px;
	display: block; border-left: 8px solid #BBB; width: 84px 
}
div#menu li a:hover{border-left-color: red;}
div#menu ul ul li a:hover {border-left-color: #00FF00;}
div#menu ul ul ul li a:hover {border-left-color: blue;}